@model LoginViewModel

<h2>登录或这注册</h2>

<form asp-controller="Account" asp-action="Login" method="post">

    <div>
        <label asp-for="UserName"> </label>
        <input asp-for="UserName"/> 
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="PassWorld"> </label>
        <input asp-for="PassWorld" />
        <span asp-validation-for="PassWorld"></span>
    </div>
    <div>
      <input type="submit" value="提交"/>
    </div>
    
    <div asp-validation-summary="All"></div>

</form>