@{
    ViewData["Title"] = "Movie List";
    Layout = "";
}

<title>@ViewData["Title"]- Movie App</title>

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

<a  href="helloworld/welcome">欢迎</a>

