<div class="card w-25" style="margin-bottom:15px">
    <div class="card-header font-weight-bold">子组件内容：</div>
    <div class="card-body">@ChildContent</div>

    <RenderFragmentChild1>
        <h1>1.</h1>
        <RenderFragmentChild1>
            <h2>1.2</h2>
            <RenderFragmentChild1>
                <h3>1.1.1</h3>
            </RenderFragmentChild1>
        </RenderFragmentChild1>
    </RenderFragmentChild1>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}